.destination {
    padding-top: 60px;
    &-name {
        font-size: 48px;
        font-weight: bold;
        line-height: 70px;
        color: $second-color;
        letter-spacing: -0.005em;
        margin-bottom: 12px;
    }
    &-desc {
        font-size: 16px;
        font-weight: 400;
        font-family: $second-font;
        line-height: 24px;
    }
    &-content {
        margin-top: 37px;
        &__item {
            position: relative;
            &__rate {
                position: absolute;
                top: 0;
            }
        }
    }
}
