.explore {
    padding-top: 70px;
    &-title {
        font-size: 48px;
        font-weight: bold;
        line-height: 70px;
        color: $second-color;
        letter-spacing: -0.005em;
        margin-bottom: 12px;
    }
    &-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: $thir-color;
        font-family: $second-font;
    }
    &-content {
        padding-top: 50px;
    }
    &-item {
        background-color: white;
        border: 1px solid #e7ecf3;
        border-radius: 20px;
        width: 270px;
        padding: 14px;
        &__img {
            width: 242px;
            height: 152px;
            object-fit: cover;
            border-radius: 20px;
        }
        &__info {
            margin-top: 20px;
        }
        &__rate {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
        }
        &__vote {
            margin-left: 8px;
            font-weight: 500;
            line-height: 21px;
            span {
                color: $thir-color;
            }
        }
        &__name {
            font-size: 20px;
            line-height: 26px;
            font-weight: bold;
        }
        &__price {
            padding: 3px 10px;
            font-size: 18px;
            font-weight: 500;
            line-height: 23px;
            color: $color-blue;
            background: rgba(49, 107, 255, 0.2);
            border-radius: 6px;
        }
        &__position {
            font-weight: 500;
            line-height: 21px;
            color: $thir-color;
            margin-bottom: 16px;
        }
        &__city {
            position: relative;
            &::before {
                content: "\f3c5";
                font-family: "fontAwesome";
                color: none;
            }
        }
    }
}
