@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:wght@500;700&display=swap");
body {
    font-family: $primary-font;
    color: $primary-color;
    font-size: 14px;
    background-color: #fafafa;
}
.btn__primary {
    outline: none;
    border: none;
    background-color: $color-blue;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.daterangepicker {
    background: #ffffff;
    border: 1px solid #f4f5f6;
    box-shadow: 0px 12px 60px rgb(89 89 89 / 10%);
    border-radius: 20px;
    transform: translate(-10%, 10px);
}
.daterangepicker .drp-buttons {
    padding: 15px;
}
.daterangepicker .drp-buttons .btn {
    margin-left: 0px;
}
.daterangepicker:after,
.daterangepicker:before {
    display: none;
}
