.travel {
    background-color: #fbfbfb;
    padding-top: 70px;
    &-info {
        &__name {
            font-size: 48px;
            font-weight: 700;
            line-height: 70px;
            letter-spacing: -0.005em;
            color: $second-color;
            margin-bottom: 12px;
        }
        &__desc {
            font-size: 16px;
            font-weight: 400;
            font-family: $second-font;
            line-height: 24px;
            color: $thir-color;
        }
    }
    &-content {
        &__item {
            position: relative;
        }
        &__img {
            background: linear-gradient(8.54deg, rgba(31, 31, 31, 0.63) 17.12%, rgba(35, 35, 35, 0) 92.69%);
            border-radius: 15px;
        }
    }
}
