@media (min-width: 1400px) {
  .container {
    max-width: 1170px;
    padding: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .banner-content {
    width: 1140px;
  }
  .destination-content__list {
    gap: 25px 25px;
  }
  .travel {
    padding: 70px 0 210px 0;
  }
  .footer-main {
    margin: 220px auto 120px;
  }
  .footer-subs {
    width: 1140px;
    transform: translateY(80%);
  }
  .footer-main__col {
    margin-left: 130px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .banner {
    height: 455px;
  }
  .banner-main__title {
    font-size: 50px;
  }
  .banner-content {
    width: 960px;
    padding: 15px 35px;
  }
  .banner-option {
    padding-bottom: 20px;
  }
  .banner-info {
    margin-top: 20px;
  }
  .banner-info__name {
    line-height: 18px;
  }
  .banner-info__destination {
    width: 200px;
    padding: 10px 20px;
  }
  .banner-info__section {
    width: 230px;
  }
  .theworld {
    padding-top: 105px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
}
